---
layout: default
---

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <h1 class="page__title">{{ page.title }}</h1>

    {% assign collection_name = nil %}
    {% if page.url contains '/writeups' %}
      {% assign collection_name = 'writeups' %}
    {% elsif page.url contains '/teaching' %}
      {% assign collection_name = 'teaching' %}
    {% endif %}

    {% if collection_name %}
      {% assign posts_collection = site[collection_name] %}
      {% if posts_collection == nil %}
        {% assign posts_collection = "" | split: "" %}
      {% endif %}

      {% assign posts_collection = posts_collection | sort: 'date' %}

      {% if posts_collection.size > 0 %}
        {% for post in posts_collection %}
          <article class="archive__item">
            <h2 class="archive__title">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h2>
            {% include tag-list.html collection=post %}
          </article>
        {% endfor %}
      {% else %}
        <p>No posts found.</p>
      {% endif %}
    {% else %}
      <p>No posts found.</p>
    {% endif %}

  </div>
</div>
